//
//  secrets.xcconfig
//  KREAM
//
//  Created by 송승윤 on 12/4/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = 636b9aafa498defce057a61d8e9b2c68

BASE_URL = https:/$()/dummyjson.com

// 위 Base_URL을 보시면 중간에 $()가 있습니다. 이는 기본 주소에 사용되는 // 두개가 주석으로 인식되기 때문에 해당 값을 제대로 불러오지 못하기에, $()을 넣어 두 슬래시(/)는 주석 기능을 하고 있는것이 아니라는 것을 알리기 위함입니다.
